@tailwind base;
@tailwind components;
@tailwind utilities;

  
  html {
    /* background: var(--color-background); */
  }
  
  @font-face {
    font-family: 'Abel';
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('../assets/fonts/Abel/Abel.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Inter';
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('../assets/fonts/Inter/Inter.ttf') format('truetype');
  }

body {
}


  /* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: bg-neutral-content;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral ;
    border-radius: 10px;
  }
  